/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.react-calendar__month-view__days {
  display: none !important;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: none !important;
}
.search-alert {
  margin-top: 20px;
}
.text-docteury {
  color: #00bcd5;
}

.leaflet-container {
  z-index: 0;
}
.react-calendar {
  width: 100% !important;
  border: none !important;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0 !important;
  color: #00acd0;
  border-bottom: 1px solid #ddd;
  display: block;
  height: auto;
  padding: 0px 2px;
}
abbr[title],
abbr[data-original-title] {
  cursor: auto;
  border-bottom: none !important;
}
@import url(bootstrap/dist/css/bootstrap.min.css);
@import url(index.css);
@import url(x2tendedstyle.css);
@import url(recherche.css);
@import url(profile-public.css);

.search_in_profile{
  margin-top: 80px;
}
.search_in_profile .btn {
  padding: 0;
}