.slide {
  max-height: 568px;

  position: relative;
  margin: 0;
  padding: 0;

  -webkit-background-size: cover;

  background-size: cover;

  padding: 0;
  position: relative;
  float: left;
  width: 100%;
  background: url(./images/slide-lab.jpg) no-repeat center;
}

.slide h1,
.slide h2 {
  position: relative;
  text-align: center;
  color: white;
  background-image: none;

  z-index: 50;
}
.center-slide-text {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
.slide h1 {
  margin-bottom: 15px;
  margin-top: 0px;
  font-size: 38px;
  padding-bottom: 0px;
  color: #00bcd5;
  font-weight: 500;
}
.slide h2 {
  margin-top: 0;
  margin-bottom: 150px;
  font-size: 28px;
  font-weight: 200;
  color: #555454;
}
.slide img {
  position: absolute;
  top: -10%;
  min-width: 100%;
  max-width: 100%;
}
.container-fluid {
  padding: 0;
}
.slide .container {
  margin-top: 140px !important;

  margin-top: 20%;
  padding-bottom: 80px;
}
.gradient {
  height: 160px;
}
.steps-for-index {
  background-color: #fff;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 4px;
  top: -40px;
  -webkit-box-shadow: 0px 0px 55px -14px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 55px -14px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 55px -14px rgba(0, 0, 0, 0.16);
  width: 100%;
  margin: 0;
}
.steps-for-index,
.steps-for-index span,
.steps-for-index img {
  position: relative;
  float: left;
}
.steps-for-index span {
  margin-right: 10px;
}
.steps-for-index span .notif {
  background-color: #1cab7f;
  font-style: normal;
  height: 20px;
  width: 20px;
  right: -5px;
  top: -1px;
  padding-top: 2px;
}
.steps-for-index img {
  min-width: inherit;
  max-width: inherit;
}
.steps-for-index h3 {
  line-height: 10px;
  color: #00abcf;
}
.main-title {
  text-align: center;
  position: relative;
  top: -40px;
}
.main-title h2 {
  background-image: url(./images/tiraith1.png);
  background-position: bottom center;
  margin-top: 60px;
  background-repeat: no-repeat;
  font-size: 27px;
  line-height: 36px;
  width: 42%;
  margin-left: auto;
  margin-right: auto;
  float: none;
  padding-bottom: 18px;
}
.main-title .lead {
  display: block;
  line-height: 18px;
  font-size: 14px;
  font-weight: 200;

  margin-top: 20px;
  margin-bottom: 10px;
  float: none;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
.center-features {
  text-align: center;
}
.features {
  text-align: center;
  float: none;
  display: table-cell;
}
.features h3 {
  color: #00acd0;
  margin-bottom: 15px;
  box-sizing: border-box;
  display: block;

  font-size: 16px;
  font-weight: 500;
  line-height: 19.8px;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: center;
}
.features p {
  max-height: 55px;
  overflow: hidden;
  line-height: 18px;
}
.features img {
  margin-bottom: 15px;
  max-width: 100px;
}
.media {
  text-align: center;
  -webkit-box-shadow: 0px 0px 55px -14px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 55px -14px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 0px 55px -14px rgba(0, 0, 0, 0.16);
  padding: 20px 0;
  margin-top: 40px;
}
.media img {
  max-width: 13%;
}
.services-doctor {
  background-color: #00abcf;
  padding: 20px 0;
}
.services-doctor h4 {
  color: white;
  float: left;
  font-size: 24px;
  margin-top: 30px;
  margin-left: 20px;
}
.services-doctor a {
  font-weight: 500;
  float: right;
  font-size: 18px;
  padding: 10px 30px;
  margin-top: 15px;
}
.services-doctor a:hover {
}
.services-doctor img {
  max-width: 80px;
}
.conf-footer {
  padding: 15px 0;
}
.form-inline {
  margin-top: 40px;
}
.form-big-research .btn {
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: inherit;
}
.form-big-research .or {
  /* margin-top: 4px; */
}
.form-big-research .form-search {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
    0 0 8px rgba(102, 175, 233, 0.6);
  height: inherit;
  padding-bottom: 10px;
  padding-top: 10px;
  font-size: 16px;
}
@media (min-width: 900px) {
  .form-big-research .form-search-type {
    /* border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.6); */
    height: inherit;
    padding-bottom: 10px;
  }
}
.form-big-research .form-control:focus {
  border-color: #1cab7f !important;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1cab7f !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #1cab7f !important;
}

@media (min-width: 1200px) {
  .navbar-default .container-fluid {
    width: 1170px;
    margin: 0 auto;
    float: none;
  }
}

.logo-big {
  background-color: #ea556b;

  float: left;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.logo-small {
  border-radius: 0px;
}

@media (max-width: 1366px) {
  .slide .container {
    margin-top: 71px !important;
  }
  .slide {
    max-height: 530px !important;
  }
}
@media (max-width: 1200px) {
  .steps-for-index h3 {
    position: relative;
    line-height: 22px;
    top: -10px;
  }
  .slide {
    background: url(./images/slide-tab-0.jpg) no-repeat top center #c4e5f4;
  }
}
@media (max-width: 999px) {
  .slide {
    height: 637px;
    max-height: inherit !important;
  }
  .slide .container {
    /* margin-top: 199px !important; */
  }
  .slide h1 {
    font-size: 27px !important;
  }
  .slide h2 {
    font-size: 21px !important;
    margin-bottom: -20px !important;
  }
  .form-big-research .form-group {
    /* padding: 10px 0px !important; */
  }
  .form-big-research .or {
    right: inherit !important;
    /* top: 63px !important; */
    left: 45% !important;
  }
  .step-index {
    margin-top: 15px;
    display: block;
    width: 100%;
    text-align: center;
    float: left;
  }
  .steps-for-index span {
    float: left;
  }
  .steps-for-index img {
    min-width: inherit;
    max-width: inherit;
    float: none;
    margin: 0 auto !important;
  }
  .steps-for-index h3 {
    position: relative;
    line-height: 22px;
    top: -2px;
    float: left;
  }
  .main-title h2 {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .main-title .lead {
    width: 100%;
  }
  .media img {
    max-width: 50%;
  }
  .services-doctor {
    text-align: center;
  }
  .services-doctor a,
  .services-doctor h4 {
    float: none;
  }
  .steps-for-index {
    top-: -30px;
  }
}
@media (max-width: 760px) {
  .features {
    float: left;
    width: 100%;
  }
  .soft-footer {
    text-align: center;
  }
}
@media (max-width: 350px) {
  .media img {
    max-width: 100%;
  }
  .slide {
    height: 670px;
  }
  .steps-for-index h3 {
    width: 137px;
    top: -13px;
  }
}
