h1 {
  margin-bottom: 0px !important;
}

.bloc-profil-doctor {
  border: solid #00bcd5 2px;
  border-radius: 4px;
  position: relative;
  height: auto;
  overflow: hidden;
  padding: 15px;
}

.bloc-profil-doctor .cnam {
  color: #38cf6f !important;
  position: relative;
  display: block;
  float: left;
  width: 100%;
  text-align: center;

  box-sizing: border-box;
  color: #38cf6f !important;
  display: block;
  float: left;

  font-size: 14px;
  font-weight: 300;
  height: 20px;
  line-height: 20px;
  position: relative;
  text-align: center;
  width: 94.3281px;
}

.bloc-profil-doctor h2 {
  margin-top: 10px !important;
}
.bloc-profil-doctor h3 {
  margin-top: 0px;
  color: #e9493c;
}

.bloc-profil-doctor h5 {
  margin-top: 0px;
  color: #8b8b8b;
}

.steps {
  //border-left: solid #00bcd5 2px;
  display: inline-block;
  margin-bottom: 0px;
  padding-left: 40px;
  //margin-left: 15px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bar-steps {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 2px;
  background-color: #00bcd5;
  height: 100%;
}

.steps h4 {
  color: #00bcd5;
}
.steps .number-step {
  background-color: #00bcd5;
  height: 40px;
  width: 40px;
  border: 4px solid #fff;
  color: white;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  left: 0px;
  border-radius: 50%;
  /* padding-left: 5px; */
  padding-top: 7px;
  text-align: center;
}

.select-week a {
  padding: 5px 15px;
}

.doctor-bloc-calendar .doctor-day {
  /*width:115px;*/
  width: 16.6666666667% !important;
  text-align: center;
}

.doctor-bloc-calendar .doctor-day .day {
  font-weight: 500;
}

.select-month {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 40px;
}

.select-month h3 {
  color: #666;
}

.map {
  height: 200px;
  background-color: #00bcd5;
  border-radius: 4px;
  margin-bottom: 10px;
}
.choose {
  margin-top: 60px;
  margin-bottom: 30px;
}

.map,
.info-sup,
.bloc-profil-doctor {
  border-radius: 8px;
}

.info-sup {
  padding: 15px;
  height: auto;
  overflow: hidden;
}

.progress {
  background-color: #e5e5e5;
  height: 10px;

  margin-top: 12px;
}

.info-sup .steps {
  border-left: 2px #00bcd5 solid;
  padding-left: 20px;
  margin-bottom: 20px;
}

.info-sup .steps h4 {
  margin-top: 0px;
  position: relative;
  background-color: #f7f7f7;
  //left: -14px;
  padding-bottom: 5px;
}

.carreer {
  margin-top: 20px;
  margin-bottom: 60px;
}

.carreer h3 {
  margin-bottom: 30px;
}
.carreer p {
  margin-bottom: 5px;
}

.heart {
  right: 0;

  margin-right: 15px;
  font-size: 18px;
  position: absolute;
  cursor: pointer;
  z-index: 12;
}

/**** charts circle ****/

.progressDiv {
  /*width: 84%; */
  /* background: #fcfcfc; */
  height: auto;
  /* border: 1px solid #ccc; */
  position: relative;
  /* left: 7%; */
  /* top: 100px; */
  display: inline-block;
  /* border-radius: 2px; */
  /* box-shadow: 0px 1px 1px 1px #ccc; */
  float: left;
  margin-right: 12px;
}

.statChartHolder {
  /* width: 35%; */
  /* height: 90%; */
  position: relative;
  /* border-right: 1px solid #ccc; */
  /* top: 15px; */
  display: inline-block;
  text-align: center;
  margin: 0 4px !important;
}

.statsLeft {
  list-style: none;
  display: inline-block;
  width: 45%;
}
.statsLeft li {
  width: 100%;
  height: 14px;
  border: none;
  top: 5px;
  margin-bottom: 25px;
}
.statsLeft h3 {
  font-size: 17px;
  display: inline-block;
}
.statsLeft span {
  font-size: 17px;
  display: inline-block;
}
/*.statsRight {

/* Pie Chart */
.progress-pie-chart {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #e5e5e5;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #00bcd5;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  width: 60px;
  height: 60px;
  clip: rect(0, 100px, 200px, 0);
  background: #81ce97;
  transform: rotate(60deg);
}
.gt-50 .ppc-progress {
  clip: rect(0, 30px, 60px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 60px, 60px, 30px);
  background: #e5e5e5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 50px / 2);
  top: calc(50% - 50px / 2);
  width: 50px;
  height: 50px;
  background: #f7f7f7;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #00bcd5;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 10px auto 0;
}

@media (max-width: 768px) {
  .form-search {
    width: 100%;
  }

  .or {
    right: inherit;
    top: 40px;
    left: 45%;
  }

  .form-search-type {
    margin-top: 40px;
  }

  .btn {
    margin-top: 10px;
  }

  .select-week a {
    /*width: 100%;*/
    margin-top: 10px;
  }

  .doctor-bloc-picture {
    text-align: center;
  }

  .big-img-rofile {
    /* float:none; */
  }

  .doctor-bloc-name {
    text-align: center;
  }

  .doctor-bloc-calendar {
    font-size: 10px;
  }
}

@media (max-width: 350px) {
  .doctor-bloc-calendar {
    font-size: 10px;
  }

  .doctor-bloc-calendar .doctor-day {
    /*//width: 45px !important;*/
    width: 16.6666666667% !important;
    text-align: center;
  }

  .steps .number-step {
    //left: -16px;
  }
}

.bloc-profil-doctor h1 {
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  display: block;
  /*  */
  font-size: 27px;
  font-weight: 500;
  height: 29px;
  line-height: 29.7px;
  margin-bottom: 10px;
  margin-top: 0px;
  width: 591.656px;
  background-image: none;
}

.bloc-profil-doctor h2 {
  box-sizing: border-box;
  color: rgb(233, 73, 60);
  display: block;

  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.sous-specialite {
  color: rgb(139, 139, 139) !important;
  display: block;

  font-size: 14px !important;
  font-weight: 500;

  line-height: 15.4px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.bio {
  color: rgb(102, 102, 102) !important;
  display: block;

  font-size: 18px !important;
  font-weight: 500;
  height: 19px;
  line-height: 19.8px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: 716px;
}

.motif {
  color: rgb(0, 188, 213);
  display: block;

  font-size: 18px;
  font-weight: 500;

  line-height: 19.8px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.week-prev,
.week-next {
  float: right;
}

.week-prev:hover,
.week-next:hover {
  color: white !important;
  background-color: #00bcd5 !important;
}

.week-next {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.week-prev {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.info-gen {
  box-sizing: border-box;
  color: rgb(102, 102, 102);
  display: block;

  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.info-title {
  color: rgb(102, 102, 102);
  display: block;

  font-size: 27px;
  font-weight: 500;
  height: 29px;
  line-height: 29.7px;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 330px;
}

.statChartHolder h4 {
  color: rgb(102, 102, 102);
  display: block;

  font-size: 14px;
  font-weight: 500;
  height: 15px;
  line-height: 15.4px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

.info-title .lang-info {
  display: block;
  float: left;

  font-size: 14px;
  font-weight: 500;

  line-height: 15.4px;
  margin-bottom: 10px;
  margin-top: 10px;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.info-activity {
  background-color: rgb(247, 247, 247);
  color: rgb(0, 188, 213);
  display: block;
  font-size: 18px;
  font-weight: 500;
  height: 24px;
  line-height: 19.8px;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-bottom: 5px;
  position: relative;
}

.carreer h3 {
  font-size: 24px;
}

.angular-google-map-container {
  width: 100%;
  height: 200px;
}

.info-sup progressbar {
  height: 13px;
  width: 100%;
  margin-bottom: 12px;
  background-color: #eaeaea;
}

.week-control {
  margin-bottom: 20px;
}
