.map {
}

.lead,
.search_map {
  margin-top: 10px;
}

.search_map {
  height: 500px;
  border-radius: 8px;
}
.sub_container {
  float: left;
  overflow: hidden;
  font-family: sans-serif;
}

.sub_containerr {
  width: 100%;
  position: relative;
  float: left;
}

.somecomponent {
  width: 100%;
  height: 500px;
}

.show-more a {
  left: 45%;
}
p {
  width: 100%;
}

.connexion p {
  width: inherit;
}

.select-month {
  height: 40px;
}

.prev-month {
  text-align: left;
  padding-left: 0;
}

.next-month {
  text-align: right;
  padding-right: 0;
}

.prev-month,
.next-month {
  color: #a0a0a0;
  font-weight: 500;
}

.prev-month:hover,
.next-month:hover {
  text-decoration: none;
  color: #00bcd5;
}

.doctor-bloc {
  padding: 15px;
}

.doctor-bloc h2 {
  margin-top: 0px;
  margin-bottom: 5px !important;
}

.doctor-bloc h2 a {
  color: #00bcd5;
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 19.8px;
  margin-bottom: 0px !important;
  margin-top: 0px;
}

.doctor-bloc h2 a:hover {
  text-decoration: none;
  color: #00bcd5;
}

.doctor-bloc h3 {
  color: #e9493c;
  display: block;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  line-height: 15.4px;
  width: 100%;
  margin-bottom: 5px !important;
}

.doctor-bloc .disabled-text {
  color: rgb(160, 160, 160) !important;
  display: block;

  font-size: 14px;
  font-weight: 300;
  height: 16px;
  line-height: 16px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.doctor-bloc .fa-check-circle {
  margin-right: 5px;
}

.doctor-bloc .fa-heart {
  position: absolute;
  top: 0;
  right: 0;
  color: #cfcfcf;
}

footer {
  margin-top: 60px;
}

@media (max-width: 992px) {
}

@media (max-width: 990px) {
  .doctor-bloc p {
    margin-bottom: 20px !important;
  }

  .fixed-right-element {
    display: none;
  }

  footer {
  }
  .doctor-bloc .fa-heart {
    position: absolute;
    top: -20px;
    right: 20%;
  }
  .doctor-bloc-picture {
    text-align: center;
  }

  .big-img-rofile {
    /* float: none; */
    z-index: 2;
  }

  .doctor-bloc-name {
    text-align: center;
  }

  .doctor-bloc-calendar {
    font-size: 10px;
  }

  .select-week a {
    width: 100%;
    margin-top: 10px;
  }

  .doctor-bloc .fa-heart {
    position: absolute;
    top: -20px;
    right: 20%;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

@media (max-width: 350px) {
  .doctor-bloc-calendar {
    font-size: 10px;
  }
}

.angular-google-map-container {
  width: 100%;
  height: 500px;
}

.city_search_title {
  font-size: 30px;
  margin-top: 60px;
}

.search_select_input {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
  height: inherit;
}
